{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="container section">
        <h4 class="secondary_text center">{% trans "Confirm E-mail Address" %}</h4>

        {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p class="secondary_text section">{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
                .{% endblocktrans %}</p>

            <form class="center" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn accent_color" type="submit">{% trans 'Confirm' %}</button>
            </form>

        {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
                <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}

    </div>
{% endblock %}
