{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 50px">
        <div class="section">
            <row>
                <form class="center-align" method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
                    {% csrf_token %}
                    <div class="col s6">
                        <img class="materialboxed z-depth-3" data-caption="{{ user.username }}" width="140"
                             src="{{ user.get_picture }}">
                        <input type="file" name="file" style="width: 240px; margin-top: 10px" required/>
                    </div>
                    <button class="col s4 push-s2 btn waves-effect waves-light accent_color"
                            style="text-align: center; margin-top: 50px"
                            type="submit">
                        SAVE
                        <i class="large material-icons right">send</i>
                    </button>

                </form>
            </row>
        </div>
        <div class="section"></div>
        <row>
            <div class="col s12" style="margin-top: 50px">
                <div class="col s6">
                    <a href="/accounts/password/change">Click To Change Password</a>
                </div>
                <div class="col s6 center">
                    <a href="/accounts/email">Click To Manage Email</a>
                </div>
            </div>
        </row>
    </div>
    </div>


{% endblock %}