{% extends "account/base.html" %}

{% load i18n %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="section container">
        <h2 class="secondary_text center">{% trans "Sign Up" %}</h2>

        <p class="secondary_text center">{% blocktrans %}Already have an account? Then please
            <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <p class="secondary_text center">Please choose a username which identifies you by your friends.</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
                        {% if redirect_field_value %}
                            <input class="red" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
            <button class="btn accent_color" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>
    </div>

{% endblock %}
