<html>
<head>
    {% load static %}
    {% load staticfiles %}
    {% load dong_tags %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/dong.ico' %}"/>


    <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/introjs.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/dong.js' %}"></script>
    <script src="{% static 'js/intro.js' %}"></script>

    {% block additional_header %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper primary_color">
            <a href="{% url 'homepage' %}" style="margin-left: 100px; letter-spacing: 10px" class="brand-logo pulse"><img src="{% static 'images/dong1.png' %}"></a>
            <ul class="right hide-on-med-and-down" style="margin-right: 20px;">
                {% if not user.is_authenticated %}
                    <li><a href="/accounts/login/">Login</a></li>
                    <li style="margin-left: 7px; margin-right: 7px;">or</li>
                    <li><a href="/accounts/signup">Sign up</a></li>

                {% else %}
                    {% load account %}

                    <div  style="width: 240px;">
                        <a  class="dropdown-trigger" data-target="account-dropdown">
                            {% if not user.profile_picture %}
                                <img style="margin-top: 14px" class="circle left white" width="35" height="35"
                                     src="{% static 'images/default-profile.jpeg' %}">
                            {% else %}
                                <img style="margin-top: 14px" class="circle left white" width="35" height="35"
                                        {# src="{% static 'images/default-profile.jpeg' %}"> #}
                                     src="{{ user.get_picture }}">
                            {% endif %}
                            <i class="material-icons right">expand_more</i>
                            <div class="right-align">
                                {% user_display user %}
                            </div>
                        </a>
                    </div>
                    <ul id='account-dropdown' class='dropdown-content' style="width: 500px">
                        <li ><a href="/accounts/profile"><i class="material-icons left">person</i>Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/accounts/logout"><i class="material-icons left">arrow_back</i>Log Out</a></li>
                    </ul>
                {% endif %}
            </ul>
        {% if user.is_authenticated %}
            <a onclick="SeenNotification()" class="modal-trigger" href="#modal-notification">
                <i data-step="1" data-intro="See Notifications Here, Black means you have new one" id="notification-icon" class="material-icons right
                 {% if user.get_notification_count %}
                    primary_text
                 {% else %}
                    text_icons
                 {% endif %}
                 waves-effect">notifications</i>
            </a>
            <input type="hidden" id="user_id_notification" value="{{ user.id }}">
        {% endif %}
        </div>
    </nav>
</div>

<div class="row">

    {# left menu goes here #}
    {% if user.is_authenticated %}
        <div  class="col s3">

            <div class="container center">

                <table data-step="6" data-intro="All Your Groups Here" style="margin-top: 50px">
                    <thead>
                    <tr>
                        <th class="secondary_text">
                            <a class="modal-trigger" href="#cgroup-modal"><i style="font-size: 25px;"
                                                                             class="material-icons right secondary_text waves-effect">group_add</i></a>
                            GROUPS
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for gp in user.get_groups %}
                        <tr style="border: none;">
                            <td class="left {% if gp.gp.description %} tooltip-right {% endif %}" style="padding: 1px">
                                <span class="tooltiptext-right">{{ gp.gp.description }}</span>
                                <a href="/group/?group={{ gp.gp.id }}">
                                {% with id=gp.gp.id|slugify %}
                                    <div class="chip {% if request.GET.group == id  %} light_primary_color2 {% endif %} light_primary_color center waves-effect waves-green"
                                         style="width: 220px">
                                        <i class="material-icons text_icons left {% if gp.new_note %} primary_text {% endif %}">group</i>
{#                                        <span style="display: unset; margin-left: 10%" data-badge-caption="" class="new badge white black-text right">{{ gp.new_note }}</span>#}
                                        <span>{{ gp.gp.name }}</span>
                                    </div>
                                {% endwith %}
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <table data-step="7" data-intro="All Your Friends Here" style="margin-top: 50px">
                    <thead>
                    <tr>
                        <th class="secondary_text">
                            <a class="modal-trigger" href="#addfriend-modal"><i style="font-size: 25px;"
                                                                                class="material-icons right secondary_text waves-effect">person_add</i></a>
                            FRIENDS
                        </th>
                    </tr>
                    </thead>

                    {% for fr in user.get_friends %}
                        <tr style="border: none;">
                            <td class="left tooltip-right" style="padding: 1px;">
                                <span class="tooltiptext-right">{{ fr.email }}</span>
                                <a href="{% url 'UserProfile:get_friend_detail' fr.id %}">
                                    {% with id=request.path|slice:"14:"|slice:":-1" %}
                                <div class="chip {% if id == fr.id|slugify %} light_primary_color2 {% endif %} light_primary_color center waves-effect waves-green"
                                     style="width: 220px">
                                    <img src="{{ fr.get_picture }}"/>
                                    {{ fr.username }}
                                </div>
                                    {% endwith %}
                                    </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>


            </div>

        </div>
    {% endif %}


    <div class="div_height {% if not user.is_authenticated %} container
                {% else %} col s6 border_homepage z-depth-3 {% endif %}">

        {% block content %}
        {% endblock %}
    <!-- Notification Modal -->
    <div id="modal-notification" class="modal notification-modal">
        <div class="modal-content container">
            <h4 style="text-align: center">Notifications</h4>
            <ul class="collapsible">
                {% for notification in user.get_notification %}
                    <li>
                        <div class="collapsible-header {% if not notification.notification.seen %} light_primary_color {% endif %}">
                            {% if notification.notification.type == 'DONG' %}
                                <i class="material-icons">local_atm</i>
                                {{ notification.dong.name }}
                                {% if notification.counting > 0 %}
                                    <span style="width: 30%" class="new badge" data-badge-caption="you lent" dir="rtl">{{ notification.counting }}</span>
                                {% elif notification.counting == 0 %}
                                    <span style="width: 30%" class="badge" data-badge-caption="not involved" dir="rtl"></span>
                                {% else %}
                                    <span style="width: 30%" class="new badge red" data-badge-caption="you owe"
                                          dir="rtl">{{ notification.counting }}</span>
                                {% endif %}
                            {% elif notification.notification.type == 'SETTLE_UP' %}
                                {% if notification.notification.notifier == user %}
                                    You paid {{ notification.notification.amount }}
                                {% else %}
                                    {{ notification.notification.notifier.username }} paid {{ notification.notification.amount }}
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if notification.notification.type == 'DONG' %}
                            <div class="collapsible-body">
                                {% dong_info notification.dong %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>

    {# right menu goes here #}
    {% if user.is_authenticated %}

        <div class="col s3">
        <button class="right no-padding" onclick="javascript:introJs().setOption('showProgress', true).start();"> <i class="material-icons pulse secondary_text">help</i> </button>
            {% block rmenu %}
            {% endblock %}
        </div>
    {% endif %}

</div>


</body>


{# should be shown only if user is logged in #}
{# Floating button which holds basic functionalities of our website #}
{% if user.is_authenticated %}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large accent_color pulse">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating btn-large accent_color waves-effect waves-light tooltipped modal-trigger"
                   data-position="left"
                   data-tooltip="Create Group" href="#cgroup-modal"><i class="material-icons">group</i></a></li>
            <li>
                <a class="btn-floating btn-large accent_color darken-1 waves-effect waves-light tooltipped modal-trigger"
                   data-position="left"
                   data-tooltip="Create Dong" href="#cdong-modal"><i class="material-icons" onclick="OrdinaryReqType()">payment</i></a></li>
            <li>
                <a class="btn-floating btn-large accent_color darken-1 waves-effect waves-light tooltipped modal-trigger"
                   data-position="left"
                   data-tooltip="Add Friend" href="#addfriend-modal"><i class="material-icons">person_add</i></a></li>
        </ul>
    </div>

    <div id="cgroup-modal" class="modal mymodal">
        <div class="modal-content container">
            <h5 style="text-align: center">CREATE NEW GROUP</h5>
            <form name="create-group-form" class="center-align" method="post" action="{% url 'group:create' %}">
                {% csrf_token %}
                <div class="row section">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">create</i>
                        <input id="name" name="name" type="text" maxlength="15" class="validate" required>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <textarea id="description" name="description" type="" maxlength="50"
                                  class="validate materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <div class="input-field col s12">
                    <select multiple name="friends">
                        <option value="" disabled selected>Add friends</option>
                        {% for friend in user.get_friends %}
                            <option data-icon="{{ friend.get_picture }}"
                                    value="{{ friend.id }}">{{ friend.username }}</option>
                        {% endfor %}
                    </select>
                    <label>Add your friends to group</label>
                </div>
                <div class="section ">
                    <button onclick="form_validity('create-group-form')"
                            class="modal-footer btn waves-effect waves-light accent_color" style="text-align: center"
                            type="submit">
                        Create Group
                        <i class="large material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="addfriend-modal" class="modal addfriend-modal">
        <div class="modal-content container">
            <h5 style="text-align: center">ADD FRIEND</h5>
            <form name="addfriend-form" autocomplete="off" class="center-align" method="post"
                  action="{% url 'UserProfile:addfriend' %}">
                {% csrf_token %}
                <div class="input-field" style="margin-top: 50px">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" name="addfriend-auto" class="autocomplete validate" id="addfriend-auto"
                           required/>
                    <label for="addfriend-auto">Enter email or username</label>
                </div>

                <button onclick="form_validity('addfriend-form')"
                        class="modal-footer btn waves-effect waves-light accent_color"
                        style="text-align: center; margin-top: 50px"
                        type="submit">
                    ADD FRIEND
                    <i class="large material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>

    <div id="cdong-modal" class="modal dong-modal">
        <div class="modal-content container">
            <h5 style="text-align: center">CREATE NEW DONG</h5>

            <form name="create-dong-form" class="left-align" onsubmit="return validateMyForm()" method="post" id="frm1" action="{% url 'dng:create' %}">
                <input type="hidden" name="fname" value="{{ user.username }}" ><br>
{#                 <input type="hidden" name="req_type_for_create" value="{{ group.id }} ><br>#}
                {% csrf_token %}
                <div class="row section">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <input id="dong-descriptiono" name="name" type="text" class="validate" required>
                        <label for="dong-descriptiono">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="price" name="price" type="text" class="validate" pattern="([0-9])*" required oninput="CalEquallyPrice()">
                        <label for="price">Total Price</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">people</i>
                        <select multiple id="numb" name="numb" onchange="myFunction()" required >
                            <option value="" disabled selected></option>

                            {% for friend in user.get_friends %}
                                <option value="{{ friend.username }}" data-icon="{{ friend.get_picture }}"
                                        class="circle">{{ friend.username }}</option>
                            {% endfor %}
                        </select>
                        <label>Participants</label>
                    </div>
                    <div class="input-field col s12">
                        <select id="numb2" name="numb2" required></select>
                        <label>Select Who Paid</label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" id="gcheckbox" name="gcheckbox" value="false"
                                   onclick="CreateDongGroup()"/>
                            <span>This Dong is a Group Dong</span>
                        </label>
                        <div class="input-field col s12">
                        <select id="groupcheck" name="groupcheck">
                            {% for ii in user.get_groups %}
                            <option value="{{ ii.gp.id }}">{{ ii.gp.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Select Who Paid</label>
                        </div>
                    </div>
                    <div >
                        <label>
                            <input type="checkbox" id="not_equally" name="not_equally" value="false"
                                   onclick="MakeDongNotEqually()"/>
                            <span>Split Not Equally</span>
                            <br>
                            <span>How much each participant has to pay from the total price?</span>
                        </label>
                        <br>
                    <div id="inputs_for_not_equally"></div>
                    </div>
                    <div id="sum_of_prices">
                        <label id="sum_label">

                        </label>
                    </div>
                </div>

                <div class="section ">
                    <button onclick="form_validity('create-dong-form')"
                            id="submit_button"
                            class="modal-footer btn waves-effect waves-light accent_color" style="text-align: center"
                            type="submit" >
                        Create Dong
                        <i class="large material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% else %}
    {#     <a onclick="openDiscovery()" id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>#}


    <div class="fixed-action-btn" onclick="openDiscovery()">
        <a id="menu" class="btn-floating btn-large accent_color pulse">
            <i class="large material-icons">info_outline</i>
        </a>

    </div>
    <div class="tap-target accent_color" data-target="menu">
        <div class="tap-target-content">
            <h5 style="margin-left: 60px" class="text_icons"><b>Quick Review</b></h5>
            <br>
            <i style="margin-right: 7px;" class="material-icons text_icons">people</i>
            <h7 class="text_icons"><b>Interact With Your Friends</b></h7>
            <br>
            <i style="margin-right: 7px;" class="material-icons text_icons">call_split</i>
            <h7 class="text_icons"><b>Split Your Bills As You Wish</b></h7>
            <br>
            <i style="margin-right: 7px;" class="material-icons text_icons">payment</i>
            <h7 class="text_icons"><b>Pay And Get Paid Eeasily</b></h7>
            <br>
            <br>

            <a style="margin-left: 60px" class="text_icons" href="/accounts/signup">Signup Now</a>

        </div>
    </div>


{% endif %}
<footer data-step="8" data-intro="More About Dong" style="margin-top: 200px" class="page-footer primary_color">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Made With <b>DONG</b> group in Isfahan University Of Technology.</h5>
                <p class="grey-text text-lighten-4">IUT Software Engineering II Project</p>
                <p class="grey-text text-lighten-4">Teacher and advisor: <b>Dr.Mahmoodzadeh</b></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Link to opensource project</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://gitlab.com/mehranagh20/Dong">Dong open source
                        project source code</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © 2018, DONG. All right reserved.
        </div>
    </div>
</footer>

</html>
